#projects{
    background-image: url(../../assets/img/robot.jpg);
    width: 100%;
    height: 30%;
    margin-top: 10px;
}
#projects h1{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
.pPanel{
    width: 30%;
    height: 40%;
    background-color: white;
    margin-left: 13%;
    margin-bottom: 3%;
    display: inline-block;
    border-radius: 5% 5% 10% 10%;
}
#project1{
    background-image: url("../../assets/img/Runaway.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 70%;
    width:80%;
    margin-left: 10%;
    margin-top: 10%;
    border: 1px solid black;
    border-radius:2% 2% 2% 2%;

}
#project2{
    background-image: url("../../assets/img/TicTacToe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 70%;
    width:80%;
    margin-left: 10%;
    margin-top: 10%;
    border: 1px solid black;
    border-radius:2% 2% 2% 2%;

}
.pPanel p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.pPanel a{
    text-decoration: none;
    color: black;
}
#project3{
    background-image: url("../../assets/img/portfolio.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;
    height: 70%;
    width:80%;
    margin-left: 10%;
    margin-top: 10%;
    border: 1px solid black;
    border-radius:2% 2% 2% 2%;

}
#project4{
    background-image: url("../../assets/img/Pong.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99%;
    height: 70%;
    width:80%;
    margin-left: 10%;
    margin-top: 10%;
    border: 1px solid black;
    border-radius:2% 2% 2% 2%;
}